/* General */
@import url(https://fonts.googleapis.com/css?family=Poiret+One);

body {
  color: #333;
  font-size: 18px;
}

main {
  background: url(../../assets/tech_img/bg.png) repeat;
  padding-left: 190px;
}

.container {
  width: 95%;
}

a {
  color: #004d40;
}

h3 {
  font-size: clamp(2rem, 2vw + 1rem, 4rem);
  font-weight: 200;
  margin-bottom: 60px;
  margin-top: 0;
  padding: 30px 40px;
  text-transform: uppercase;
}

h4 {
  font-size: clamp(1.5rem, 3vw, 2rem);
}

.section {
  padding-top: 0px;
}

.full-height {
  height: 100vh;
}

.text-center {
  text-align: center;
}

.waves-effect.waves-blue .waves-ripple {
  /* The alpha value allows the text and background color
   of the button to still show through. */
  background-color: rgba(33, 150, 243, 0.2);
}

.card {
  margin-bottom: 60px;
}

.card .role {
  font-size: 1.25rem;
  position: absolute;
  right: 38px;
  top: 35px;
}

.card li a {
  margin-right: 0;
  color: #333;
  border-bottom: 2px solid #ffab40;
}

.card li a:hover {
  color: #333;
  font-weight: 500;
}

.card .card-content p {
  padding: 5px 0 0;
}

.card h5 {
  font-size: 1.5rem;
  margin-bottom: -0.5rem;
  margin-top: 2rem;
}

.card h6 {
  font-weight: 300;
  letter-spacing: 1px;
  margin-top: 2rem;
  text-transform: uppercase;
}

.card-action {
  background-color: rgba(0, 0, 0, 0.02);
  border: none;
}

.card .col.s12.m2 a {
  display: block;
}

.card .col.s12.m2 a img {
  max-height: 60px;
}

.card-action span {
  font-size: 85%;
  color: #666;
}

.card ul {
  margin-bottom: 0;
}

.card ul li {
  line-height: 200%;
  list-style-type: disc;
  margin-left: 24px;
}

.card ul li li {
  color: #666;
  font-size: 13px;
}

.card .card-title {
  font-size: clamp(1.5rem, 3vw, 2rem);
}

.card .card-content {
  padding: 15px;
  height: auto !important;
}

.card .card-content .card-title {
  line-height: 2.5rem;
}

.card i.right {
  margin-left: 10px;
}

a.hoverline {
  border-bottom: 3px solid transparent !important;
  padding: 3px 3px 0 3px;
  transition: 0.25s all;
  -moz-transition: 0.25s all;
  -webkit-transition: 0.25s all;
}

a.hoverline:hover {
  border-bottom: 3px solid #004d40 !important;
}

.row .col.m3 {
  padding-bottom: 15px;
}

.card.large .card-content p {
  color: inherit;
  margin: 0;
}

.card-content .row {
  border-bottom: 1px solid #ddd;
}

.card.large .card-image {
  height: 230px;
}

.card.medium .card-image {
  height: auto !important;
}

.card.medium {
  height: auto !important;
}

.card-action a.btn-floating {
  margin-bottom: 0;
}

.col.s12.m2 {
  text-align: center;
}

small {
  display: none;
}

.grey-text {
  color: #666 !important;
}

.d-flex {
  display: flex;
  align-items: center; /* Vertically centers content */
  justify-content: space-between; /* Ensures space between text and image */
}

.text-content {
  flex: 1; /* Allows text to take up remaining space */
}

.image-content {
  max-width: 150px; /* Adjust width as needed for the image */
}

/* Style for the floating button */
.to-top-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #007bff; /* Customize color */
  color: white;
  border: none;
  border-radius: 50%;
  width: 4vw;
  height: 4vw;
  display: flex;
  align-items: center;
  justify-content: center;
  /* font-size: 30px; */
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: none; /* Hidden initially */
  z-index: 2; /* Ensure it's above materialize content */
}

.to-top-btn i {
  font-size: 3vw;
}

.to-top-btn:hover {
  background-color: #0056b3; /* Darker shade on hover */
}

/* Nav Bar */
nav {
  background: white;
  box-shadow: none;
  height: 0;
}

nav i {
  padding: 0 15px;
  position: relative;
  top: 5px;
}

.profile-pic {
  max-width:150px;
  max-height:150px;
  width: auto;
  height: auto;
  overflow: hidden;
  margin: -28px;
  margin-left:-10px;
  background-color: rgb(0, 133, 141);
}

.profile-pic img {
  width: 100%;
  height: auto;
}

ul.side-nav {
  width: 190px;
}

ul.side-nav li {
  padding: 0;
}

ul.side-nav.fixed a {
  box-sizing: content-box;
  /* color: rgb(16, 202, 56); */
  display: block;
  line-height: 100%;
  padding: 10px 0 12px;
}

ul.table-of-contents li.logo a.active, ul.table-of-contents li.logo a:hover {
  border: none;
  font-weight: 200;
}

ul.side-nav.fixed li.logo {
  background-color: #fafafa;
  border-bottom: 1px solid #e4e4e4;
  box-sizing: content-box;
  min-height: 110px;
  padding: 30px 30px 40px;
}

ul.side-nav.fixed li.logo a {
  font-weight: 200;
  line-height: 100%;
}

ul.table-of-contents li:not(.logo) a.active, ul.table-of-contents li:not(.logo) a:hover {
  background-color: #fafafa;
  border-left: 3px solid;
}

li.logo span {
  display: block;
  font-size: 14px;
}

.brand-logo h1 {
  font-size: inherit;
  line-height: inherit;
  margin: inherit;
  font-weight: inherit;
}

#certificate_icon {
  font-size: 2rem;
  padding: 0 15px;
  position: relative;
  top: 5px;
}

.buttons {
  padding-bottom: 20px;
}

/* Intro Section */
#intro.section {
  background: url("/assets/tech_img/ai-wallpaper-1.jpg");
  position: relative;
}

#intro.section .container {
  color: white;
  font-weight: 200;
  left: 0;
  position: absolute;
  top: 0;
}

#intro.section .container *:not(span) {
  font-weight: 300;
  /* font-weight: 400; */
  line-height: 150%;
  /* padding: 0 0px; */
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

#intro.section .underline {
  border-bottom: 5px solid #24305e;
}

#intro.section .teal {
  padding: 0 10px;
}

.overlay {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.social {
  margin: 0 auto;
  width: auto;
  text-align: inherit;
  /* padding: 10px; */
}

.icon-btn {
  margin-left: auto;
  width: 50px;
  height: 50px;
  border: 0;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 30px;
  line-height: 70px;
  border-radius: 45px;
  display: inline-block;
  margin: 4px;
}

.github {
  color: black;
}

.linkedin {
  color: #0077b5;
}

.icon-btn:hover {
  transform: scale(1.10);
  color: #FFFFFF;
}

.linkedin:hover {
  background-color: #0077b5;
}

.github:hover {
  background-color: black;
}

.readme {
  position: relative;
  padding: 11px 35px;
  background: #fff;
  color: #00796b;
  border: 2px solid #fff;
  font-weight: 600;
  font-size: 15px;
  letter-spacing: 1px;
  display: inline-block;
  border-radius: 5px;
  -webkit-border-radius: 5px;
}

.contactme {
  position: relative;
  padding: 11px 35px;
  background: none;
  color: #fff;
  border: 2px solid #fff;
  font-weight: 600;
  font-size: 15px;
  letter-spacing: 1px;
  display: inline-block;
  margin-top: 1.5em;
  border-radius: 5px;
  -webkit-border-radius: 5px;
}

.contactme:hover{
  color: #00796b;
  background-color: white;
}

/* Projects Section */
#projects .btn-floating i {
  font-size: 1.2rem;
}
.card-reveal p {
  font-size: 1rem;
  margin-top: 0;
}

/* Tech Stack Section */
#tech_stack .card.large {
  height: 360px;
}

#tech_stack h4 {
  border-bottom: 1px solid #ddd;
  margin-bottom: 30px;
  padding-bottom: 20px;
}

#tech_stack .col img.responsive-img {
  margin: 0 auto;
  max-height: 80px;
  padding: 0 10px 10px 10px; /* Adds 10px padding to the left and right */
  text-align: center;
  vertical-align: middle;
  display: table-cell;
}

/* Education Section */
#education .container {
  max-width: 70%;
  align-items: center;
}

#education .card {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Certificates Section */
#wrap {
  margin-bottom: 50px;
}

#slider,#thumbnail_slider{
  width: 50vw;
  margin: 0 auto 10px;
}

.slide-item{
  img{
    width: 100%;
  }  
}

.thumbnail-item{
  img{
    width: 98%;
    margin: 0 auto;
  } 
}

#slider .slick-slide {
  height: 37vw !important;
}

#thumbnail_slider .slick-slide {
  height: 10vw !important;
}

.slick-prev:before, .slick-next:before {
  color: gray !important;
  font-size: 2rem !important;
}

.slick-prev {
  left: -35px !important;
}
/* Contact Section */
#contact a:not(.btn-floating) {
  bottom: 6px;
  left: 20px;
  position: relative;
}

/* Media Queries */
@media (min-width: 1200px) {
  .container {
    width: 860px;
  }
}

@media (min-width: 993px) {
  #projects .col {
    height: 390px;
  }
}

@media (max-width: 1360px) {
  .card ul li {
    font-size: 14px;
    line-height: 200%;
    margin-left: 20px;
  }
}

@media (max-width: 1160px) {
  .card ul li {
    line-height: 150%;
  }
}

@media (max-width: 992px) {
  main {
    padding-left: 0px;
    padding-top: 64px;
  }

  h3 {
    padding: 20px 30px;
    margin-bottom: 40px;
  }

  h3, .container {
    /* position: relative; */
    top: 64px;
  }
  
  nav {
    background: #fff;
    height: 64px;
    position: absolute;
  }

  nav a.button-collapse, nav a.button-collapse i {
    color: #009688;
    height: 56px;
    line-height: 56px;
  }

  nav.hide-on-large.only.trigger {
    display: block;
    position: fixed;
    top: 0;
    z-index: 2;
  }

  /* Not include the introduction section with these properties */
  section:not(:first-of-type) {
    position: relative;
    padding-top: 60px;
    margin-top: -60px;
  }


  ul.side-nav a {
    line-height: 100%;
    padding: 0;
    width: 100%;
  }


  .container {
    margin: 0 auto;
  }

  .card .role {
    position: relative;
    right: initial;
    top: initial;
  }

  .name-title {
    display: block;
    height: 100%;
    padding-top: 15px;
    text-align: center;
    width: 100%;
    position: absolute;
  }

  .name-title>span, .name-title>a {
    position: relative;
    line-height: 20px;
  }

  .name-title a {
    font-size: 22px;
    display: block;
  }
  
  .name-title span {
    display: block;
    font-size: 14px;
  }

  section#intro {
    margin-bottom: -64px;
  }

  .to-top-btn {
    width: 35px;
    height: 35px;
  }

  .to-top-btn i {
    font-size: 25px; /* Adjust the size of the icon relative to the button */
  }
}

@media (max-width: 600px) {
  h2 {
    font-size: 32px;
    line-height: 200%;
    margin: 30px 0 0;
  }

  h5 {
    font-size: 15px;
  }

  .card {
    height: auto !important;
  }

  .card .card-content .card-title {
    font-size: 20px;
    line-height: 24px;
  }

  span.card-title {
    text-align: center;
    display: block;
  }

  span.card-title a {
    margin: 0;
  }

  i.mdi-navigation-close.right {
    position: relative;
    bottom: 15px;
  }

  #intro.section {
    background-position-x: 30%;
  }

  #intro.section .container *:not(span) {
    padding: 0;
  }

  #tech_stack .col {
    font-size: 15px;
  }

  #education .card-title {
    font-size: 20px;
  }

  #education .card p {
    font-size: 12px;
  }

  #education .card li {
    font-size: 12px;
  }

  #contact a:not(.btn-floating) {
    text-align: center;
    display: block;
    left: initial;
    bottom: initial;
  }
  #contact a.btn-floating.btn-large {
    display: block;
    text-align: center;
    margin: 0 auto;
  }
  #contact p {
    font-size: 12px;
    max-height: 70px;
  }
}
